<div class="panel panel-default group-container" id="group_<%=group.id%>_container">
	<div class="panel-heading">
		<div class="panel-btns">
			<a class="minimize" href="" title="Collapse/Expand">−</a>
			<%if group.name != DidGroup::UNGROUPED_NAME%>
				<%=link_to '#', data: {group_id: group.id}, class: 'group_destroy', title: 'Delete' do%>
					<span class="glyphicon glyphicon-remove-circle"></span>
				<%end%>
				<%=link_to '', inbound_dids_group_path(group), method: :delete, remote: true, id: "group_#{group.id}_destroy_link"%>
				<%=link_to '#', class: 'group_edit', title: 'Edit', data: {url: edit_inbound_dids_group_path(group), toggle: 'modal', target: '.edit-group-dlg'} do%>
					<span class="glyphicon glyphicon-edit"></span>
				<%end%>
			<%end%>
  		</div><!-- panel-btns -->
  		<h3 class="panel-title" id="group_<%=group.id%>_name"><%=group.name%> DIDs (<%=dids.present? ? dids.size : '0'%>)</h3>
  		<p id="group_<%=group.id%>_desc">
  			<%#link_to (group.description.present? ? group.description : "Enter description here"), '#', name: 'did_group[description]', class: 'did-group-desc', data: {type: 'textarea', pk: group.id}%>
  			<%if group.name == DidGroup::UNGROUPED_NAME%>
  				List of Ungrouped DIDs
  			<%else%>
  				<%=group.description.present? ? group.description : 'Edit group and add description here'%>
  			<%end%>
  			
  		</p>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<%if dids.present?%>
	  		<table id="group_<%=group.id%>_table" class="table table-bordered table-striped dataTable table-hover did_group">
	    		<thead>
	      			<tr>
	        	        <th class='no-sort' width="10%"><input type="checkbox" class="table-cb-toggler" data-table="#<%="group_#{group.id}_table"%>"/></th>
	        	        <th width="15%">DID</th>
	        	        <th width="10%">SMS</th>
	        	        <th width="10%">Monthly</th>
	        	        <th width="10%">Activation</th>
	        	        <th width="15%">Next Bill Date</th>
	        	        <th class='no-sort' width="15%">Description</th>
	        	        <th class='no-sort' width="15%">Actions</th>
	      			</tr>
	    		</thead>
        	    <tbody>
        	      <% dids.each do |did| -%>
					<tr>
						<td><%= check_box_tag "dids[]", did.id, false, {class: 'did-cb'} %></td>
						<td><%=did.did%></td>
						<%if did.enable_sms? %>
							<td><span class="label label-success">Enabled</span></td>
						<%else%>
							<td><span class="label label-warning">Disabled</span></td>
						<%end%>
						<td><%=did.activation%></td>
						<td><%=did.monthly%></td>
						<td><%=did.bill_start.day()%>-<%=Date.today().next_month.strftime("%b-%Y")%></td>
						<td>
							<%=link_to truncate(did.description, length: 32), '#', name: 'did[description]', class: 'did-desc editable-click', data: {type: 'textarea', pk: did.id, value: did.description}%>
						</td>
						<td>
							<%= link_to '#', title: 'Voice Settings', data: {toggle: 'modal', target: '.did-voice-settings-dlg', 'settings-url': voice_settings_inbound_did_path(did.id)} do %>
								<span class='fa fa-phone'></span>
							<%end%>
							<%= link_to '#', title: 'SMS Settings',  style: 'margin-left:10px;', data: {toggle: 'modal', target: '.did-sms-settings-dlg', 'settings-url': sms_settings_inbound_did_path(did.id)} do %>
								<span class='fa fa-mobile'></span>
							<%end%>
							<%= link_to '#', title: 'Release', style: 'margin-left:10px;', data: {toggle: 'modal', target: '.release-did-confirm-dlg', pk: did.id}, class: 'release-link' do %>
								<span class="fa fa-unlink"></span>
							<%end%>
						</td>
					</tr>
        	      <% end %>
        	    </tbody>
	  		</table>
	  		<%else%>
	  			No DIDs found in this group.
	  		<%end%>
		</div>
	</div>
</div>