<div class="panel-body">
  <%= form_for @user, remote: true, html: {id: 'new_user', class: "form-horizontal"} do |f| %>
    <div class="col-md-12">
      <h4>Update Profile Information</h4>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name, raw("Name <span class='asterisk'>*</span>"), class: "col-sm-4 control-label" %>
          <div class="col-sm-7"><%= f.text_field :name, class: "form-control input-sm", data: {errorkey: "name"} %></div>
        </div>
        <div class="form-group">
          <%= f.label :username, class: "col-sm-4 control-label" %>
          <div class="col-sm-7"><%= f.text_field :username, class: "form-control input-sm", data: {errorkey: "username"} %></div>
        </div>
        <div class="form-group">
          <%= f.label :email, raw("Email <span class='asterisk'>*</span>"), class: "col-sm-4 control-label" %>
          <div class="col-sm-7"><%= f.text_field :email, class: "form-control input-sm", data: {errorkey: "email"} %></div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h4>Change Password</h4>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :current_password, raw("Current Password <span class='asterisk'>*</span>"), class: "col-sm-4 control-label" %>
          <div class="col-sm-7"><%= f.text_field :current_password, class: "form-control input-sm", data: {errorkey: "current_password"} %></div>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "col-sm-4 control-label" %>
          <div class="col-sm-7"><%= f.text_field :password, class: "form-control input-sm", data: {errorkey: "password"} %></div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "Password Confirmation", class: "col-sm-4 control-label" %>
          <div class="col-sm-7"><%= f.text_field :password_confirmation, class: "form-control input-sm", data: {errorkey: "password_confirmation"} %></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="actions mt10">
      <div class="pull-right">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>