<% provide(:title, 'Manage Routing Plans') %>

<%=content_for :breadcrumb do%>
  <li>Routing</li>
  <li class="active">Manage Routing Plans</li>
<%end%>
<%=content_for :javascripts do %>
  <%= javascript_include_tag 'routings' %>
<%end%>

<%=content_for :js_init do %>
  App.RoutingListHandler.setUrls(['<%=routings_path%>']);
  App.RoutingListHandler.init();
<%end%>

<div class="row">
  <div class="col-md-12 mb30" id="routing_plans_container">
    <div class="panel panel-default">
      <div class="panel-body routing-plans-actions">
        <div class="row">
          <div class='col-md-6 text-left pagination-info-top' style="margin: 5px 0px;">
            <%= page_entries_info @routings, entry_name: 'routing plans' %>  
          </div>
          <div class='col-md-6 text-right'>
            <input class="" id="global_search_q" type="search" placeholder="Search..." />
            <a href="#" class="show-hide-all" title="Collpase/Expand All"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
        </div>
      </div>
    </div>
    <span id="routings_container">
      <%=render partial: 'routing_plans'%>
    </span>
</div>

<div class="modal fade delete-routing-confirm-dlg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title"><span class="glyphicon glyphicon-thumbs-up"></span> Confirmation</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body panel-body-nopadding">
                <div class="row">
                  <div style='text-align:center;'>
                    <h4>Are you sure you want to delete this routing plan?</h4>
                    <a href="javascript:void(0);" id="del_routing_confirm_ok" class="btn btn-danger">OK</a>
                    <a href="javascript:void(0);" class="btn btn-default close_modal">Cancel</a>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
    </div>
</div>

<div class="modal fade delete-routing-info-dlg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Info</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body panel-body-nopadding">
                <div class="row">
                  <div style='text-align:center;'>
                    <h4>This routing plan is in use by Ingress Trunk and hence cannot be deleted.</h4>
                    <a href="javascript:void(0);" class="btn btn-default close_modal">OK</a>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
    </div>
</div>

<div class="modal fade remove-trunk-confirm-dlg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title"><span class="glyphicon glyphicon-thumbs-up"></span> Confirmation</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body panel-body-nopadding">
                <div class="row">
                  <div style='text-align:center;'>
                    <h4>Are you sure you want to remove this trunk from routing plan?</h4>
                    <a href="javascript:void(0);" id="rem_trunk_confirm_ok" class="btn btn-danger">OK</a>
                    <a href="javascript:void(0);" class="btn btn-default close_modal">Cancel</a>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
    </div>
</div>

<div class="modal fade enable-trunk-confirm-dlg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title"><span class="glyphicon glyphicon-thumbs-up"></span> Confirmation</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body panel-body-nopadding">
                <div class="row">
              <div style='text-align:center;'>
                <h4>Are you sure you want to activate these trunk(s)?</h4>
                <a href="javascript:void(0);" id="enable_trunk_confirm_ok" class="btn btn-danger">OK</a>
                <a href="javascript:void(0);" class="btn btn-default close_modal">Cancel</a>
              </div>
            </div>
          </div>
          </div>
      </div>
      </div>
    </div>
</div>

<div class="modal fade disable-trunk-confirm-dlg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title"><span class="glyphicon glyphicon-thumbs-up"></span> Confirmation</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body panel-body-nopadding">
                <div class="row">
              <div style='text-align:center;'>
                <h4>This trunk will be deactivated from all routing plans.<br />Are you sure you want to deactivate this trunk?</h4>
                <a href="javascript:void(0);" id="disable_trunk_confirm_ok" class="btn btn-danger">OK</a>
                <a href="javascript:void(0);" class="btn btn-default close_modal">Cancel</a>
              </div>
            </div>
          </div>
          </div>
      </div>
      </div>
    </div>
</div>