<% provide(:title, 'Settings - Default Rates') %>

<%=content_for :breadcrumb do%>
	<li>Settings</li>
	<li class="active">Default Rates</li>
<%end%>
<%=content_for :javascripts do %>
	<%= javascript_include_tag 'inbound_dids' %>
<%end%>
<%=content_for :js_init do %>
	App.RateSpinners.init();
	App.InboundRateLocalFormHandler.init();
	App.InboundRateTollfreeFormHandler.init();
	App.InboundRateSmsFormHandler.init(<%=@did_sms.charge_failed?%>);
<%end%>
<script type="text/javascript">
	var gritter_opts = {
		title: '',
		sticky: false,
		time: '5000'
	};
</script>
<div class="row">
	<div class="col-md-12 mb30">
		<!--<h5 class="subtitle mb5">Basic Tabs</h5>
		<p>
			We should add some explanation here regarding this page.
		</p>-->
		<br />
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#local" data-toggle="tab"><strong>Local</strong></a>
			</li>
			<li>
				<a href="#toll-free" data-toggle="tab"><strong>Toll Free</strong></a>
			</li>
			<li>
				<a href="#sms" data-toggle="tab"><strong>SMS</strong></a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content mb30">
			<div class="tab-pane active" id="local">
				<div class="row">
					<div class="col-md-12">
						<%=form_for @local_did, url: update_local_rates_inbound_did_path(@local_did), remote: true, html: {id: 'edit_local_did_form', class: 'form-horizontal form-bordered'} do |f| -%>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">Local Inbound DID rates</h4>
									<!--<p>
										Basic form with a class name of <code>
											.form-bordered</code>.
									</p>-->
								</div>
								<div class="panel-body panel-body-nopadding">
									<div class="form-group local_activation_spinner_group">
										<label class="col-sm-2 control-label">Activation</label>
										<div class="col-sm-2">
											<%=f.text_field :activation, id: 'local_activation_spinner', title: t(:activation_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="local_activation_spinner_error" for="local_activation_spinner"></label>
										</div>
									</div>
									
									<div class="form-group local_monthly_spinner_group">
										<label class="col-sm-2 control-label">Monthly</label>
										<div class="col-sm-2">
											<%=f.text_field :monthly, id: 'local_monthly_spinner', title: t(:monthly_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="local_monthly_spinner_error" for="local_monthly_spinner"></label>	
										</div>
									</div>
									
									<div class="form-group local_permin_spinner_group">
										<label class="col-sm-2 control-label">Per Minute</label>
										<div class="col-sm-2">
											<%=f.text_field :per_minute, id: 'local_permin_spinner', title: t(:pmin_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width: 100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="local_permin_spinner_error" for="local_permin_spinner"></label>
										</div>
									</div>
									
									<div class="form-group local_billstart_spinner_group">
										<label class="col-sm-2 control-label">Bill Start</label>
										<div class="col-sm-2">
											<%=f.text_field :bill_start, id: 'local_billstart_spinner', title: t(:bstart_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="local_billstart_spinner_error" for="local_billstart_spinner"></label>
										</div>
									</div>
									<div class="form-group local_billinc_spinner_group">
										<label class="col-sm-2 control-label">Bill Increment</label>
										<div class="col-sm-2">
											<%=f.text_field :bill_increment, id: 'local_billinc_spinner', title: t(:binc_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="local_billinc_spinner_error" for="local_billinc_spinner"></label>
										</div>
									</div>
								</div><!-- panel-body -->
								<div class="panel-footer">
									<button class="btn btn-primary" id="submit_local_form" type="submit">Submit</button>
									<button type="reset" id="reset_local_form" class="btn btn-default">Reset</button>
									<span class="text-muted" id="edit_local_did_form_msg" style="margin-left:10px;"></span>
								</div><!-- panel-footer -->
							</div><!-- panel-default -->
						<%end -%>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="toll-free">
				<div class="row">
					<div class="col-md-12">
						<%=form_for @tollfree_did, url: update_tf_rates_inbound_did_path(@tollfree_did), remote: true, html: {id: 'edit_tollfree_did_form', class: 'form-horizontal form-bordered'} do |f| -%>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">Toll Free Inbound DID rates</h4>
									<!--<p>
										Basic form with a class name of <code>
											.form-bordered</code>.
									</p>-->
								</div>
								<div class="panel-body panel-body-nopadding">
									<div class="form-group tf_activation_spinner_group">
										<label class="col-sm-2 control-label">Activation</label>
										<div class="col-sm-2">
											<%=f.text_field :activation, id: 'tf_activation_spinner', title: t(:activation_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="tf_activation_spinner_error" for="tf_activation_spinner"></label>
										</div>
									</div>
									
									<div class="form-group tf_monthly_spinner_group">
										<label class="col-sm-2 control-label">Monthly</label>
										<div class="col-sm-2">
											<%=f.text_field :monthly, id: 'tf_monthly_spinner', title: t(:monthly_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="tf_monthly_spinner_error" for="tf_monthly_spinner"></label>
										</div>
									</div>
									
									<div class="form-group tf_permin_spinner_group">
										<label class="col-sm-2 control-label">Per Minute</label>
										<div class="col-sm-2">
											<%=f.text_field :per_minute, id: 'tf_permin_spinner', title: t(:pmin_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="tf_permin_spinner_error" for="tf_permin_spinner"></label>
										</div>
									</div>
									
									<div class="form-group tf_billstart_spinner_group">
										<label class="col-sm-2 control-label">Bill Start</label>
										<div class="col-sm-2">
											<%=f.text_field :bill_start, id: 'tf_billstart_spinner', title: t(:bstart_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>																
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="tf_billstart_spinner_error" for="tf_billstart_spinner"></label>
										</div>
									</div>
									
									<div class="form-group tf_billinc_spinner_group">
										<label class="col-sm-2 control-label">Bill Increment</label>
										<div class="col-sm-2">
											<%=f.text_field :bill_increment, id: 'tf_billinc_spinner', title: t(:binc_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="tf_billinc_spinner_error" for="tf_billinc_spinner"></label>
										</div>
									</div>
								</div><!-- panel-body -->
								<div class="panel-footer">
									<button class="btn btn-primary" id="submit_tf_form" type="submit">Submit</button>
									<button type="reset" id="reset_tf_form" class="btn btn-default">Reset</button>
									<span class="text-muted" id="edit_tf_did_form_msg" style="margin-left:10px;"></span>
								</div><!-- panel-footer -->
							</div><!-- panel-default -->
						<%end -%>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="sms">
				<div class="row">
					<div class="col-md-12">
						<%=form_for @did_sms, url: update_did_sms_rates_inbound_did_path(@did_sms), remote: true, html: {id: 'edit_did_sms_form', class: 'form-horizontal form-bordered'} do |f| -%>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">SMS rates</h4>
									<!--<p>
										Basic form with a class name of <code>
											.form-bordered</code>.
									</p>-->
								</div>
								<div class="panel-body panel-body-nopadding">
									<div class="form-group sms_activation_spinner_group">
										<label class="col-sm-2 control-label">Activation</label>
										<div class="col-sm-2">
											<%=f.text_field :activation, id: 'sms_activation_spinner', title: t(:activation_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="sms_activation_spinner_error" for="sms_activation_spinner"></label>
										</div>
									</div>
									<div class="form-group sms_monthly_spinner_group">
										<label class="col-sm-2 control-label">Monthly</label>
										<div class="col-sm-2">
											<%=f.text_field :monthly, id: 'sms_monthly_spinner', title: t(:monthly_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="sms_monthly_spinner_error" for="sms_monthly_spinner"></label>
										</div>
									</div>
									<div class="form-group sms_outbound_spinner_group">
										<label class="col-sm-2 control-label">Outbound</label>
										<div class="col-sm-2">
											<%=f.text_field :outbound, id: 'sms_outbound_spinner', title: t(:outbound_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="sms_outbound_spinner_error" for="sms_outbound_spinner"></label>
										</div>
									</div>
									<div class="form-group sms_inbound_spinner_group">
										<label class="col-sm-2 control-label">Inbound</label>
										<div class="col-sm-2">
											<%=f.text_field :inbound, id: 'sms_inbound_spinner', title: t(:inbound_helptext), data: {placement: 'top', toggle: 'tooltip'}, class: 'tooltips', style: 'width:100%'%>
										</div>
										<div class='col-sm-8'>
											<label style="margin-left:5px;" class="error" id="sms_inbound_spinner_error" for="sms_inbound_spinner"></label>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Charge Failed SMS</label>
						                <div class="col-sm-2 control-label">
						                	<div class="toggle-default" id="sms_charge_failed_tgl"></div>
						                	<%=f.check_box :charge_failed, id: 'sms_charge_failed_tgl_chkbox', style: 'opacity:0; position:absolute;'%>
						                </div>
									</div>
								</div><!-- panel-body -->
								<div class="panel-footer">
									<button class="btn btn-primary" id="submit_sms_form" type="submit">Submit</button>
									<button type="reset" id="reset_sms_form" class="btn btn-default">Reset</button>
									<span class="text-muted" id="edit_did_sms_form_msg" style="margin-left:10px;"></span>
								</div><!-- panel-footer -->
							</div><!-- panel-default -->
						<%end -%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>