<% provide(:title, 'Ratesheets - Modify Ratesheet') %>

<%=content_for :breadcrumb do%>
    <li>Ratesheets</li>
    <li><%=link_to 'Manage Ratesheets', rate_sheets_path%></li>
    <li class="active">Modify Ratesheet</li>
<%end%>

<%=content_for :javascripts do %>
  <%=javascript_include_tag 'ratesheets', 'data-turbolinks-track' => true %>
<%end%>

<%=content_for :js_init do %> 
    App.RatesheetFormHandler.setUrls(['<%=check_name_rate_sheets_path%>']);
    App.RatesheetFormHandler.init([<%=@rate_sheet.lrn?%>]);
<%end%>

<%=render partial: 'form'%>

