<%if @result['error'].present?%>
  <p class="text-center text-danger"><%=@result['message']%></p>
<%else%>
  <p class="text-right">
    Export:&nbsp;
    <%=link_to 'javascript:void(0);', title: 'PDF', data: {format: 'pdf'}, class: 'export-link' do -%>
      <span class="fa fa-file-pdf-o" style="font-size:20px;"></span>
    <%end%>&nbsp;
    <%=link_to 'javascript:void(0);', title: 'Excel', data: {format: 'xls'}, class: 'export-link' do -%>
      <span class="fa fa-file-excel-o" style="font-size:20px;"></span>
    <%end%>&nbsp;
    <%=link_to 'javascript:void(0);', title: 'CSV', data: {format: 'csv'}, class: 'export-link' do -%>
      <span class="fa fa-file-text-o" style="font-size:20px;"></span>
    <%end%>
  </p>

  <table id="reports_table" cellspacing="0" class="text-center table table-striped dataTable table-hover table-bordered">
    <thead>
      <tr>
          <th rowspan="2" class="text-center <%=(@data['id_group'].blank? && @data['date_group'].blank?) ? 'no-sort' : ''%>" style="width:16%; vertical-align: middle;">
            <%=group_by_title(@data['id_group'] || @data['date_group'])%>
          </th>
          <th colspan="2" style="width:20%" class="text-center">Duration</th>
          <th colspan="2" style="width:20%" class="text-center">Profit</th>
          <th rowspan="2" class="text-center"style="width:12%; vertical-align: middle;">Ingress Cost</th>
          <th rowspan="2" style="width:13%; vertical-align: middle;">Egress Cost</th>
          <th colspan="2" style="width:20%" class="text-center">No. of Calls</th>
      </tr>
      <tr>
        <th class="text-center" style="width:18%">Raw</th>
        <th class="text-center" style="width:18%">Billed</th>
        <th class="text-center" style="width:16%">Value</th>
        <th class="text-center" style="width:16%">Percent</th>
        <th class="text-center" style="width:16%">Total</th>
        <th class="text-center" style="width:16%">Non-zero</th>
      </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="text-center">Total:</th>
            <th class="text-center"><%=@result['total_duration']%></th>
            <th class="text-center"><%=@result['total_billtime']%></th>
            <th class="text-center"><%=@result['total_profit']%></th>
            <th class="text-center"><%=@result['avg_profit_percent']%></th>
            <th class="text-center"><%=@result['total_ingress_cost']%></th>
            <th class="text-center"><%=@result['total_egress_cost']%></th>
            <th class="text-center"><%=@result['total_calls']%></th>
            <th class="text-center"><%=@result['total_nonzero']%></th>
        </tr>
    </tfoot>
    <tbody>
      <%@result['group'].each do |group| -%>
        <tr class="text-center">
          <td>
            <%=group_by_col_val(@data['id_group'] || @data['date_group'], group['id'])%>
          </td>
          <td class="text-center"><%=group['duration']%></td>
          <td class="text-center"><%=group['billtime']%></td>
          <td class="text-center"><%=group['profit']%></td>
          <td class="text-center"><%=group['profit_percent']%></td>
          <td class="text-center"><%=group['ingress_cost']%></td>
          <td class="text-center"><%=group['egress_cost']%></td>
          <td class="text-center"><%=group['calls']%></td>
          <td class="text-center"><%=group['nonzero']%></td>
        </tr>
      <%end -%>
    </tbody>
  </table>
  <div class="text-center">Query Time: <%=@result['query_time']%></div>
<%end%>
