<table id="reports_table" cellspacing="0" border='1' cellpadding="2">
  <thead>
    <tr>
        <th rowspan="2" style="width:12%; vertical-align: middle;">
          <%=group_by_title(@data['id_group'] || @data['date_group'])%>
        </th>
        <th rowspan="2" style="width:6%; vertical-align: middle;">ASR</th>
        <th rowspan="2" style="width:6%; vertical-align: middle;">ACD</th>
        <th rowspan="2" style="width:6%; vertical-align: middle;">PDD</th>
        <th colspan="2" style="width:10%">Duration</th>
        <th rowspan="2" style="width:10%; vertical-align: middle;">Usage (cost)</th>
        <th rowspan="2" style="width:10%; vertical-align: middle;">Avg Rate</th>
        <th colspan="3" style="width:24%">No. of Calls</th>
        <th colspan="2" style="width:16%">Jurisdiction</th>
    </tr>
    <tr>
      <th>Raw</th>
      <th>Billed</th>
      <th>Total</th>
      <th>Non-zero</th>
      <th>LRN Calls</th>
      <th>Interstate</th>
      <th>Intrastate</th>
    </tr>
  </thead>
  <tfoot>
      <tr>
          <th>Total:</th>
          <th><%=@result['avg_asr']%></th>
          <th><%=@result['avg_acd']%></th>
          <th><%=@result['avg_pdd']%></th>
          <th><%=@result['total_duration']%></th>
          <th><%=@result['total_billtime']%></th>
          <th><%=@result['total_cost']%></th>
          <th><%=@result['avg_rate']%></th>
          <th><%=@result['total_calls']%></th>
          <th><%=@result['total_nonzero']%></th>
          <th><%=@result['total_lrn_calls']%></th>
          <th><%=@result['total_inter']%></th>
          <th><%=@result['total_intra']%></th>
      </tr>
  </tfoot>
  <tbody>
    <%@result['group'].each do |group| -%>
      <tr>
        <td style="text-align:center;">
          <%=group_by_col_val(@data['id_group'] || @data['date_group'], group['id'])%>
        </td>
        <td style="text-align:center;"><%=group['asr']%></td>
        <td style="text-align:center;"><%=group['acd']%></td>
        <td style="text-align:center;"><%=group['pdd']%></td>
        <td style="text-align:center;"><%=group['duration']%></td>
        <td style="text-align:center;"><%=group['billtime']%></td>
        <td style="text-align:center;"><%=group['cost']%></td>
        <td style="text-align:center;"><%=group['avg_rate']%></td>
        <td style="text-align:center;"><%=group['calls']%></td>
        <td style="text-align:center;"><%=group['nonzero']%></td>
        <td style="text-align:center;"><%=group['lrn_calls']%></td>
        <td style="text-align:center;"><%=group['inter_rate']%></td>
        <td style="text-align:center;"><%=group['intra_rate']%></td>
      </tr>
    <%end -%>
  </tbody>
</table>