<!DOCTYPE html>
<html>
<head>
  <title>VOIP Essential - Super Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
  </div>
  
  <% if current_user %>
   <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>
  <%= yield %>
</body>
</html>
